/* @import url("https://use.fontawesome.com/releases/v6.6.0/css/all.css"); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --selection-back-color: #000000;
    --selection-font-color: #fffF00;
    --scrollbar-thumb-color: #000000;
    --scrollbar-track-color: #fffF00;
}

* {
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    font-family: "Montserrat", serif !important;
    font-weight: 500;
    font-style: normal;
    overflow: hidden;
}

p {
    font-size: 0.8rem;
}

lrg {
    font-size:  0.75rem;
}

med {
    font-size:  0.7rem;
}

small {
    font-size:  0.65rem;
}

@media (min-width: 1200px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 12px;
    }
}

::selection {
    background-color: var(--selection-back-color);
    color: var(--selection-font-color);
}

#navbar {
    width: 25%;
    height: 100%;
}

#map-container {
    position: relative;
    /* width: 75%; */
    width: 100%;
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

.visible {
    opacity: 0.95;
    visibility: visible;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.nowrap {
    white-space: nowrap;
}

.vertical-slider {
    overflow-x: hidden;
    overflow-y: auto;
    pointer-events: auto !important;
}

.vertical-slider::-webkit-scrollbar {
    width: 3px;
    margin-left: 10px;
}

.vertical-slider::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
    border-radius: 5px;
}

.vertical-slider::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
    border-radius: 5px;
}

.coords-icon {
    cursor: pointer;
    pointer-events: auto;
}

.hospital .coords-icon {
    transition: all 0.25s ease-in-out;
}

.hospital .coords-icon:hover {
    font-size: larger;
    color: #fff4f6 !important;
}

.seller .coords-icon {
    transition: transform 0.25s ease-in-out;
}

.seller .coords-icon:hover {
    right: 0;
    bottom: 0;
    transform: scale(1.25);
    color: #f0fbff !important;
}

.tooltip {
    display: block;
    transform: translateX(-50%);
    transition: all 0.25s ease-in-out;
}

.tooltip,
.tooltip * {
    user-select: none;
    pointer-events: none;
}

#coords-tooltip {
    user-select: none;
}

#in-tooltip {
    max-width: 200px;
    line-height: 1.25;
    text-align: center;
    cursor: pointer;
}

#in-tooltip .seller {
    max-width: 200px;
}

#in-tooltip .hospital {
    max-width: 300px;
}

#click-tooltip {
    line-height: 1.1;
    text-align: left;
    pointer-events: auto;
}

#click-tooltip, #click-tooltip * {
    user-select: text;
}

#coords-tooltip {
    line-height: 1;
    text-align: left;
    pointer-events: auto;
}

#coords-tooltip button {
    cursor: pointer;
    pointer-events: auto;
}

#coords-tooltip button:focus {
    animation: flash-animation 0.25s ease-out;
}

.coords-icon {
    cursor: pointer;
    pointer-events: auto;
}

@keyframes flash-animation {
    0% {
        filter: brightness(2);
    }

    100% {
        filter: brightness(1);
    }
}

#context-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    min-width: 50px;
    background-color: #cccccc;
    border-radius: 5px;
}

#context-menu>button {
    background-color: transparent;
    color: black;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

#context-menu>button>span {
    width: 100%;
    display: inline-block;
    text-align: left;
}